#agentsList .mainWrap{
    margin-top: .42rem;
    background: #fff;
    padding: .25rem 10%;
}
#agentsList .mainWrap .path{
    padding-bottom: 0.2rem;
}
#agentsList .mainWrap .path a.active{
    color: #5068a9;
}
#agentsList .mainWrap .path i{
    padding: 0 0.05rem;
}
#agentsList .mainWrap>ul{
    width: 7rem;
}
#agentsList .mainWrap>ul li{
    padding: .1rem .2rem;
    border-bottom: 0.01rem solid #ccc;
    position: relative;
    box-shadow: 0rem 0.01rem 0.01rem rgba(0,0,0,.1);
}
#agentsList .mainWrap>ul li:hover{
    box-shadow: .02rem .02rem .1rem rgba(0,0,0,.2),  -0.02rem -0.02rem .1rem rgba(0,0,0,.2);
}
#agentsList .mainWrap>ul li p{
    color:#000;
    font-size: 0.16rem;
}
#agentsList .mainWrap>ul li p.name{
    height: .45rem;
    line-height: .45rem;
}
#agentsList .mainWrap>ul li p.name span{
    font-size: .2rem;
    font-weight: bold;
}
#agentsList .mainWrap>ul li p.name i{
    display: inline-block;
    border-left: 0.02rem solid #151414b8;
    height: 0.2rem;
    line-height: 0.2rem;
    margin-left: 0.1rem;
    padding-left: 0.1rem;
}
#agentsList .mainWrap>ul li p.name i:last-child{
    border: none;
    padding-left: 0.7rem;
    color: red;
}
#agentsList .mainWrap>ul li p.name i:nth-child(3){
    border: none;
    padding-left: 0.9rem;
    color: #f0ad4e;
}
#agentsList .mainWrap>ul li p.location{
    height: 0.35rem;
    line-height: 0.35rem;
    color:#5068a9;
}
#agentsList .mainWrap>ul li p.location i{
    padding-right: 0.05rem;
    color: rgba(0,0,0,.5);
}
#agentsList .mainWrap>ul li p.info span {
    display:block;
    height: 0.3rem;
    line-height: 0.3rem;
}
#agentsList .mainWrap>ul li p.info span:nth-child(odd){
    width: 3.8rem;
}
#agentsList .mainWrap>ul li p.info span>i{
    font-weight: normal;
}
/*#agentsList .mainWrap>ul li p.info span:nth-child(1) i:nth-child(1){*/
    /*font-size: 0.18rem;*/
    /*color: #be0707;*/
/*}*/
#agentsList .mainWrap>ul li p.info span:nth-child(1) i:nth-child(2){
    font-size: 0.14rem;
    color: #858585;
}
#agentsList .mainWrap>ul li p.des{
    margin: 0.2rem 0;
    overflow: hidden;
    height: 1.1rem;
}
#agentsList .mainWrap>ul li p.des>i{
    display: block;
    position: relative;
    padding-left: 0.1rem;
    height: 0.3rem;
 }
#agentsList .mainWrap>ul li p.des>i:before{
    content: '';
    position: absolute;
    display: block;
    width: 0.03rem;
    height: 0.15rem;
    background: red;
    left: 0.02rem;
    top: 0.03rem;
}
#agentsList .mainWrap>ul li p.des>span{
    line-height: 0.25rem;
    width: 100%;
    max-height: 0.75rem;
    position: relative;
    overflow: hidden;
    display: block;
}
#agentsList .mainWrap>ul li p.des>span:after{
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 0.05rem;
    width: 0.27rem;
    height: 0.24rem;
    color: #000;
    background-color: #fff;
    line-height: 0.14rem;
}
#agentsList .mainWrap>ul li span.details{
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    background: #5068a9;
    color: #fff;
    width: 1.1rem;
    cursor: pointer;
}
#agentsList .mainWrap>ul li span.details:hover{
    background: #40599b;
}
#agentsList .mainWrap>ul li span.details:focus{
    outline: none;
}
