#agentsDetail .mainWrap {
	margin-top: .42rem;
	background: #fff;
	padding: .25rem 10%;
}
#agentsDetail .mainWrap .path {
	padding-bottom: 20px;
}

#agentsDetail .mainWrap .path a.active {
	color: #5068a9;
}

#agentsDetail .mainWrap .path i {
	padding: 0 5px;
}

#agentsDetail .content h3{
	height:40px;
	font-size: 30px;
	margin-bottom: 10px;
}

#agentsDetail .content h3 span{
	font-size: 14px;
	font-weight: normal;
}
#agentsDetail .msgWrap{
	margin-bottom: 30px;
}
#agentsDetail .userMsg{
	width:150px;
	height:150px;
	margin-right: 60px;
}
#agentsDetail .userMsg img{
	width:100%;
	height:100%;
}
#agentsDetail .lawyerMsg{
	width: 550px;
}
#agentsDetail .lawyerMsg p{
	float: left;
	width: 50%;
	line-height: 30px;
}
#agentsDetail .lawyerMsg p>span{
	padding-right: 15px;
	font-weight: bold;
}
#agentsDetail .content .caseType>p{
	padding:10px 0;
}
#agentsDetail .content .caseType>p>i{
	display: inline-block;
	float: left;
	width: 3px;
	height: 15px;
	background: #5068a9;
	margin: 5px 6px 0 0;
}
#agentsDetail .content .caseType ul li {
	padding:10px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}
#agentsDetail .content .caseType ul li>p span{
	line-height: 28px;
}
#agentsDetail .content .caseType h3{
	position: relative;
}
/*#agentsDetail .content .caseType h3 span:nth-child(1){
	position: absolute;
	background: #277ce1;
	display: block;
	border: 3px solid #277ce1;
	border-radius: 3px;
	top: 18px;
	left: -10px;
}*/
#agentsDetail  p.more{
	padding-top: 30px;
}
#agentsDetail  p.more button{
	background: #277ce1;
	color: #fff;
	padding:10px 50px;
	outline: none;
}
#agentsDetail  p.more button:hover{
	background: #216fcb;
}
#agentsDetail .chartWrap{
	margin: 60px 0;
}
#agentsDetail .chartTitle{
	position: relative;
	padding-left: 8px;
}
#agentsDetail .chartTitle:before{
	content: '';
	position: absolute;
	width: 3px;
	height: 15px;
	background: #5068a9;
	left: 0px;
	top: 2px;
}
#agentsDetail .chartWrap {
	display: block;
}
#agentsDetail .chartWrap ul{
	border-bottom: .01rem solid #5068a9;
}
#agentsDetail .chartWrap ul>li a{
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
#agentsDetail .chartWrap ul>li a:hover{
	background: #5068a9;
	color: #fff!important;
}
#agentsDetail .chartWrap ul>li.active>a,
#agentsDetail .chartWrap ul>li.active>a:focus,
#agentsDetail .chartWrap ul>li.active>a:hover{
	color: #5068a9;
	border: .01rem solid #5068a9;
	border-bottom-color: transparent;
}


#agentsDetail .chartWrap .messMap{
	padding:20px;
	/*width: 50%;*/
}
#agentsDetail .chartWrap .allMap{
	padding:20px;
	position: relative;
	/*width: 50%;*/
}
#agentsDetail .chartWrap .allMap>p.tipText{
    position: absolute;
    font-size: 12px;
    color: red;
    top: 210px;	
}
#agentsDetail .chartWrap .allMap .tipBox{
	float: right;
	width: 100%;
	height: 30px;
	border:1px solid red;
	text-align: center;
	margin-right: 10px;
	display: none;
}
#agentsDetail .chartWrap .allMap .tipBox>span{
	display: inline-block;
	height: 100%;
	line-height: 30px;
	color: #08c2ef;
}
#agentsDetail .chartWrap .allMap .tipBox>span:nth-child(1){
	border-right:1px solid red;
	color:#f99800;
}

