#caseDetail .mainWrap{
    margin-top: .42rem;
    background: #fff;
    padding: .25rem 10%;
}
#caseDetail .mainWrap .path{
    padding-bottom: 20px;
}
#caseDetail .mainWrap .path a.active{
    color: #5068a9;
}
#caseDetail .mainWrap .path i{
    padding: 0 5px;
}
#caseDetail .mainWrap .content>div>p{
    text-indent: 25px;
    font-size: 16px;
    line-height: 30px;
}