body {
	font-family: microsoft yahei, Arial;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
ul,
p,
dl,
dt,
dd {
	padding: 0;
	margin: 0
}

ul,
ol,
li,
dl,
dt,
dd {
	text-decoration: none;
	list-style: none
}

.lf {
	float: left
}

.rt {
	float: right
}

.clear {
	clear: both
}

.ovh {
	overflow: hidden
}

a {
	color: #303030;
	text-decoration: none;
	cursor: pointer !important;
}

a:hover {
	text-decoration: none;
	color: blue;
}

i {
	font-style: normal;
}

.mouseHand {
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #ccc;
	opacity: 1;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #ccc;
	opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #ccc;
	opacity: 1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #ccc;
	opacity: 1;
}

img {
	border: none
}

html {
	font-size: 625%;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: auto;
}

body {
	font-family: 'Arial', 'Helvetica', 'Times New Roman', 'PingFang SC', 'Microsoft YaHei', 'SimSun', 'Helvetica Neue', 'STHeitiSC-Light', 'sans-serif';
	font-size: 0.14rem;
	cursor: default;
	min-width: 1000px;
	overflow: auto;
}

p {
	/*color: white;*/
}

.mainWrap {
	min-height: 814px;
}

.button {
	display: block;
	text-align: center;
	width: 1.2rem;
	background-color: #5068a9;
	color: white;
	font-weight: 900;
	border: none;
	border-radius: 0.05rem;
	height: 0.4rem;
	line-height: 0.4rem;
}

a:focus {
	outline: none;
	text-decoration: none;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.text-strong {
	font-weight: bold;
}

body::-webkit-scrollbar {
	width: .10rem;
	height: .15rem;
}

body::-webkit-scrollbar-thumb {
	background-color: rgba(93, 93, 93, 0.41);
	border-radius: .15rem;
	/*-webkit-box-shadow: inset .01rem 0 .01rem rgba(0,0,0,0.2), inset -0.01rem 0 .01rem rgba(0,0,0,0.2);*/
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(93, 93, 93, 0.41);
}


/*大小的单位统一采取rem*/

.all_center {
	width: 100%;
	/*background-color: #f9f9f9;*/
}

#index {
	/*font-size: 0.16rem;*/
}

.floatL {
	float: left;
}

.floatR {
	float: right;
}

#header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
}

.top_nav {
	padding: 0 10%;
	height: 0.42rem;
	width: 100%;
	background-color: #7083B9;
	color: #fff;
	min-width: 9.6rem;
}

.top_nav:hover {
	background-color: #4E64A0;
}

.top_nav .compony_logo {
	display: block;
	height: 0.42rem;
	width: 1.9rem;
}

.top_nav .compony_logo img {
	height: 70%;
	width: 30%;
	margin-top: 0.05rem;
}

.top_nav .compony_logo p {
	line-height: 0.42rem;
	color: white;
	font-size: 0.25rem;
	font-weight: 900;
	padding: 0 0.15rem;
}

.top_nav .mainNav {
	border-bottom: none!important;
}

.top_nav .nav>li {
	margin: 0;
}

.top_nav .nav>li>a {
	display: inline-block;
	width: 120px;
	text-align: center;
	color: #fff;
	border: none;
	border-radius: 0;
	height: .42rem;
}

.top_nav .nav>li>a:hover,
.top_nav .nav>li.active>a {
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 0;
}

.top_nav .user {
	width: 2.0rem;
}

.circle {
	height: 400px;
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	.circle {
		height: 300px;
	}
}

.circle .item {
	height: 100%;
}

#indexBody .circle img {
	display: block;
	height: 100%;
	width: 100%;
}

.user {
	height: 100%;
	line-height: 0.42rem;
}

.user a {
	font-weight: 900;
	font-size: 0.16rem;
	color: white;
	float: right;
	margin-right: 0.20rem;
}

.user a:hover {
	color: red;
}

.area {
	margin: 0 auto !important;
}

#index .choice {
	width: 100%;
	padding: 0 10%;
	margin-top: 100px;
}

#index .choice li {
	border: 1px solid #ccc;
	padding: 15px;
	position: relative;
	background: #fff;
	border-radius: 2px;
}

#index .choice li:hover {
	box-shadow: .02rem .02rem .1rem rgba(0, 0, 0, .2), -0.02rem -0.02rem .1rem rgba(0, 0, 0, .2);
}

#index .choice li p {
	margin-bottom: 0.15rem;
	line-height: 30px;
	height: 90px;
}

#index .choice li p:nth-child(1) {
	font-size: 0.25rem;
	font-weight: 900;
	position: absolute;
	left: 50%;
	top: -60px;
	background: #ddd;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	line-height: 65px;
	z-index: -1;
	box-shadow: 10px -2px 20px rgba(104, 111, 133, 0.5);
	margin-left: -60px;
}

#index .choice li p:nth-child(2) {
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.25rem;
	font-weight: 900;
	color: #5068a9;
}

#indexBody .choice .button:hover {
	color: #fff;
	background-color: #415792;
}

.footer {
	background-color: rgba(0, 0, 0, 0.7);
	height: 1.35rem;
	width: 100%;
	border-top: 0.01rem solid #cbc8c2;
	padding: 0 10%;
	color: #fff;
}

.footer p {
	width: 100%;
	text-align: center;
	line-height: 0.3rem;
}

.footer p a {
	color: #fff;
}


/*轮播*/

.jsNav a:hover,
.jsNav .imgSelected {
	color: #5068a9;
}


/*bootstarp*/

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	border: none;
}

.top_nav .nav>li>a:focus,
.nav>li>a:hover {
	background-color: #fff;
}


/*模态框样式*/

#errorModal .modal-dialog {
	width: 450px;
	/*height: 160px;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -80px -200px;
}

#errorModal .modal-dialog .modal-content {
	width: 100%;
	height: 100%;
	;
}

#errorModal .modal-dialog .modal-content .modal-header {
	padding: 10px 15px;
}

#errorModal .modal-dialog .modal-content .modal-body {
	font-size: 14px;
	padding: 20px 15px;
}

#errorModal .modal-dialog .modal-content .modal-footer {
	border: none;
	font-size: 14px;
	padding: 10px 15px
}
.tipsStyle{
	color: #CCCCCC;
	font-size: 14px;
	line-height: 28px;
}
textarea{
	font-size: 13px;
	font-weight: 200;
}
.labelBox>i{
    font-size: .16rem;
    line-height: 20px;
    width: 100%;
}
.labelBox>i>a{
    font-size: 14px;
 	color: red;
}
/*****************************选择案由模态框       四级菜单*************************************/
#selectResModal .modal-dialog{
	/*top: 50%;
	margin-top: -175px;*/
}
#selectResModal .modal-dialog .modal-content .modal-header{
	font-weight: bold;
	font-size: 16px;
}
#selectResModal .modal-dialog .modal-content .modal-header button{
	padding: 0 10px;
}
#selectResModal .modal-dialog .modal-content .modal-header button:focus{
	outline: none;
}
#selectResModal .modal-dialog .modal-content .modal-header button span:focus{
	outline: none;
}
#selectResModal .modal-dialog .modal-content .modal-body{

}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow{
	height:390px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow p{
line-height: 25px;
color: #ccc;
padding:10px 0;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow>span.errorTip{
	color: red;
	display: none;
	line-height: 25px;
}
/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown{*/
/*display: inline-block;*/
/*margin-left: 25px;*/
/*width:300px;*/
/*}*/
/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown button{*/
/*background: #fff;*/
/*border: 1px solid #ccc;*/
/*padding: 10px 0;*/
/*width: 100%;*/
/*}*/
/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown button>span{*/
/*float: right;*/
/*margin-top: 7px;*/
/*margin-right: 10px;*/
/*}*/
/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown ul {*/
/*width:100%;*/
/*padding:10px 0;*/
/*!*overflow-y: auto;*!*/
/*}*/
/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown ul::-webkit-scrollbar {*/
	/*width: .10rem;*/
	/*height: .15rem;*/
/*}*/

/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown ul::-webkit-scrollbar-thumb {*/
	/*background-color: rgba(93, 93, 93, 0.41);*/
	/*border-radius: .15rem;*/
	/*!*-webkit-box-shadow: inset .01rem 0 .01rem rgba(0,0,0,0.2), inset -0.01rem 0 .01rem rgba(0,0,0,0.2);*!*/
/*}*/

/*#selectResModal .modal-dialog .modal-content .modal-body .shrotShow div.dropdown ul::-webkit-scrollbar-thumb:hover {*/
	/*background-color: rgba(93, 93, 93, 0.41);*/
/*}*/
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow>ul{
	width:300px;
	margin-top: 10px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow  ul>li{
height: 26px;
line-height: 26px;
padding:0 10px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow  ul>li:hover{
background: #7daee8;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor2,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor3,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor4{
	position: absolute;
	display:none;
	width: auto;
	background: #fff;
    left: calc(100% + 1px );
    top:0;
    box-shadow: 1px 1px 5px rgba(0,0,0,.4);
    border-radius: 2px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow  #floor1 ul {
	display: none;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow  #floor1 li{
	position: relative;
	height: 30px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow  #floor1 span {
	height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#selectResModal .modal-dialog .modal-content .modal-body .shrotShow #floor1>li:hover>.floor2,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow #floor1>li .floor2>li:hover>.floor3,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow #floor1>li .floor2>li .floor3>li:hover>.floor4,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow #floor1>li .floor2>li .floor3>li .floor4>li:hover>.floor5{
	display: block;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor2{
	z-index: 20;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor3{
	width: 520px;
	z-index: 30;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor4{
	z-index: 40;
	width: 300px;
}
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor3>li,
#selectResModal .modal-dialog .modal-content .modal-body .shrotShow .floor4>li{
	float: left;
}
