#lawyerListBody .mainWrap {
	margin-top: .42rem;
	background: #fff;
	padding: .25rem 10% 1rem 10%;
	position: relative;
}

#lawyerListBody .mainWrap .path {
	padding-bottom: 0.2rem;
}

#lawyerListBody .mainWrap .path a.active {
	color: #5068a9;
}

#lawyerListBody .mainWrap .path i {
	padding: 0 0.05rem;
}

#lawyerListBody .mainWrap ul {
	width: 7rem;
}

#lawyerListBody .mainWrap ul li {
	padding: .1rem .2rem;
	border-bottom: 0.01rem solid #ccc;
	position: relative;
	box-shadow: 0rem 0.01rem 0.01rem rgba(0, 0, 0, .1);
}

#lawyerListBody .mainWrap ul li:hover {
	box-shadow: .02rem .02rem .1rem rgba(0, 0, 0, .2), -0.02rem -0.02rem .1rem rgba(0, 0, 0, .2);
}

#lawyerListBody .mainWrap ul li p {
	color: #000;
	font-size: 0.16rem;
}

#lawyerListBody .mainWrap ul li p.name {
	height: .45rem;
	line-height: .45rem;
}

#lawyerListBody .mainWrap ul li p.name span {
	font-size: .2rem;
	font-weight: bold;
}

#lawyerListBody .mainWrap ul li p.name i {
	display: inline-block;
	border-left: 0.02rem solid #151414b8;
	height: 0.2rem;
	line-height: 0.2rem;
	margin-left: 0.1rem;
	padding-left: 0.1rem;
}

#lawyerListBody .mainWrap ul li p.location {
	height: 0.35rem;
	line-height: 0.35rem;
	color: #5068a9;
}

#lawyerListBody .mainWrap ul li p.location i {
	padding-right: 0.05rem;
	color: rgba(0, 0, 0, .5);
}

#lawyerListBody .mainWrap ul li p.info span {
	display: block;
	height: 0.3rem;
	line-height: 0.3rem;
}

#lawyerListBody .mainWrap ul li p.info span:nth-child(1) i:nth-child(1) {
	font-size: 0.18rem;
	color: #be0707;
}

#lawyerListBody .mainWrap ul li p.info span:nth-child(1) i:nth-child(2) {
	font-size: 0.14rem;
	color: #858585;
}

#lawyerListBody .mainWrap ul li span.details {
	position: absolute;
	bottom: 0.1rem;
	right: 0.5rem;
	background: #5068a9;
	color: #fff;
	width: 1.1rem;
}

#lawyerListBody .mainWrap ul li span.details:hover {
	background: #40599b;
}

#lawyerListBody .mainWrap ul li span.details:focus {
	outline: none;
}

.lipad {
	margin-bottom: 0.05rem;
}

#lawyerListBody ul.pagination {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#listExplain {
	line-height: 0.3rem;
	margin: 0.05rem auto;
	min-height: 0.3rem;
	/*width: 7rem;*/
	width: 100%;
	text-align: center;
	font-size: 0.16rem;
	font-weight: 900;
	color: #b5b5b5;
	box-shadow: 0rem 0.01rem 0.01rem rgba(0, 0, 0, .1);
}

#listExplain {}

#listExplain:hover {
	box-shadow: .02rem .02rem .1rem rgba(0, 0, 0, .2), -0.02rem -0.02rem .1rem rgba(0, 0, 0, .2);
}

@media only screen and (max-width:420px) {
	#lawyerListBody .mainWrap ul {
		width: 100%;
	}
	#lawyerListBody .mainWrap ul li span.details {
		display: none;
	}
	#lawyerListBody .mainWrap ul li{
		padding: 0.1rem 0.2rem 0.4rem 0.2rem;
	}
}