
.top_nav .compony_logo>a {
	line-height: 0.42rem;
	color: white;
	font-size: 0.25rem;
	font-weight: 900;
	padding: 0 0.15rem;
}
.top_nav .compony_logo>a:hover {
	color: blue;
}
.lgContain{
	height: 3.43rem;
	max-width: 10rem;
	width:100%;
	margin: 0.2rem auto;
}
.registerMess {

	line-height: 0.42rem;
	font-size: 0.2rem;
}
@media only screen and (max-width: 360px){
	.registerMess{
		font-size: 0.14rem;
	}

}
.lgContain>img{
	margin-left: 0.4rem;
}
.lgDetail{
	width: 3.5rem;
	height: 3.43rem;
	border: 0.01rem solid #ccc;
	padding: 0.4rem;
}
.lgDetail>h3{
	margin-bottom: 0.1rem;
}
@media only screen and (max-width: 1000px){
	.lgContain>img{
		display: none;
	}
	.lgDetail{
		float: none!important;
		margin: 0 auto;
		width: 3.1rem;
	}
}


.lglabel{
	padding: 0.03rem 0;
	height: 0.46rem;
	width: 2.6rem;
	box-sizing: border-box;
	border: 0.01rem solid #ccc;
	margin-bottom: 0.1rem;
}
.lglabel:hover{
	box-shadow: 0 0 0.05rem #5068a9;
	border-color: #46B8DA;
}
.lglabel>label{
	height: 100%;
	width: 100%;
}
.lglabel>label>input{
	border: none;
	height: 100%;
	width: 2rem;
	float: right;
}

.lglabel>label>i{
	margin-left:0.1rem ;
	display: block;
	float: left;
	height: 100%;
	width:0.36rem;
}
.lguser{
	background-image: url(../img/login/user.png);
	background-repeat: no-repeat;
}
.lgpassword{
	background-image: url(../img/login/password.png);
	background-repeat: no-repeat;
}
#agreeLg {
	margin: 0.15rem 0;
	height: 0.46rem;
	width: 2.6rem;
	background-color: red;
	border-radius: 0.05rem;
	text-align: center;
	border: none;
	font-size: 0.18rem;
	color: white;
	font-weight: 900;
}
#agreeLg:focus{
	box-shadow: 0 0 0.05rem #5068a9;
	opacity: 0.7;
	filter: alpha(opacity=70);
	outline: none;
}
.lgDetail>span{
	display: flex;
}
.lgDetail>span>a{
	flex: 1;
	text-align: center;
	color: red;
}
