#property .mainWrap{
    margin-top: .42rem;
    background: #fff;
    padding: .25rem 10%;
}
#searchTabs{
    border-bottom:.01rem solid #5068a9;
}
#myTabContent{
    padding:.1rem;
}
#property .labelBox{
    display: inline-block;
    height: .5rem;
    line-height: .5rem;
    position: relative;
    font-weight: bold;
    width:100%;
}
#property .labelBox>input{
    height:.4rem;
    border: .01rem solid #ccc;
    border-radius: .03rem;
    padding-left:.1rem;
}
#property .labelBox>input:focus,#property .labelBox textarea:focus{
    border:.01rem solid #5068a9;
    box-shadow: 0 0 0.05rem #5068a9;
}
#property .labelBox.textarea{
    display: block;
    width:96%;
    height:2rem;

}
#property .labelBox textarea{
    resize: none;
    width:100%;
    height:1.2rem;
    line-height: 0.21rem;
    overflow-x: hidden;
}
#property .errorTip{
    display: block;
    margin: .38rem 0 0 0;
    color: red;
    height:.2rem;
    line-height:.2rem;
}
#property .searchBtn{
    display: block;
    margin: .6rem auto 0 auto;
    width: 1.5rem;
    height: .4rem;
    background:#5068a9;
}
#property .searchBtn:hover{
    background:#40548a;
}
#property #agents .agentsTop>i,#property #agents .agentsBottom>i{
    display: block;
    height: 0.5rem;
    line-height: 0.5rem;
    color: red;
}
#property #agents .agentsTop .errorTip,#property #agents .agentsBottom .errorTip{
    margin-top: 0.1rem;
}
#property #agents .agentsTop>button,#property #agents .agentsBottom>button{
    margin: 0 auto;
}
#property #agents .agentsBottom{
    margin-top: 1rem;
}






/*地区插件样式*/
#cityPicker,#cityPicker1,#cityPicker2{
    position: absolute;
    top: 0;
    left:1.2rem;
}

.city-picker-span{
    border: .01rem solid #ccc;
    height: .4rem!important;
    margin-top: .05rem;
    line-height: .4rem!important;
    padding-left: .1rem;
    border-radius: .03rem;
}

@media only screen and (max-width: 480px) {
    #cityPicker,#cityPicker1,#cityPicker2{
        left: .5rem;
        right: 0;
    }
    .city-picker-span{
        width:100%!important;
    }
    .city-picker-dropdown{
        width:100%!important;
        min-width: 1rem;
    }
}
.city-picker-span>.placeholder {
    color: #ccc;
}
.city-select-tab>a.active,.city-select a:hover, .city-select a:focus{
    color: #5068a9;
}
.city-picker-span.focus, .city-picker-span.open{
    border-bottom-color:#5068a9;
}
/*地区插件样式*/


/*bootstarp*/
#property .mainWrap .nav-tabs>li.active>a,#property .mainWrap  .nav-tabs>li.active>a:focus,#property .mainWrap  .nav-tabs>li.active>a:hover{
    color:#5068a9;
    border: .01rem solid #5068a9;
    border-bottom-color: transparent;
}
#property .mainWrap .nav-tabs>li>a:hover{
    background:#5068a9 ;
    color:#fff!important;
}



