body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.top_nav .compony_logo>a {
	line-height: 0.42rem;
	color: white;
	font-size: 0.25rem;
	font-weight: 900;
	padding: 0 0.15rem;
}
.top_nav .compony_logo>a:hover {
	color: blue;
}
.registerMess {
	line-height: 0.42rem;
	font-size: 0.2rem;
}

#register .top_nav {
	margin-bottom: 0.4rem;
}

.regDeatil {
	height: 6rem;
	width: 100%;
	border: 0.01rem solid #ccc;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0.65rem .1rem;
	background-color: #fcfcfc;
	max-width: 10rem;
}
@media only screen and (max-width: 1000px){
	.regDeatil{
		height: auto;

	}
	.regDeatil>div.left{
		float: none!important;
		margin: 0 auto;
		width: 100%;
		max-width: 5rem;
	}
	.regDeatil>div.left .labelBox>input{
		width: 65%;
	}
	.regDeatil>div.left #agree{
		width: 60%;
		margin: 0 auto;
		display: block;
	}
	.regDeatil>div.left .agreeDetail{
		width: 60%;
		padding: 0;
		margin: .1rem auto;
	}
	.regDeatil>div.right{
		float: none!important;
		margin: 0 auto;
		border: none;
		width: 2.8rem;
		max-width: 5rem;
		padding:.2rem 0;
		position: relative;
		padding-left: 1.05rem;
	}
	.regDeatil>div.right>span{
		position: absolute;
		top: .45rem;
		left: .05rem;
		display: block;
		height: 1.13rem;
		line-height: 1.15rem;
		border-right: .01rem dashed #ccc;
	}

}
.regDeatil .left {
	width: 70%;
	height: 100%;
}

.regDeatil .right {
	width: 30%;
	box-sizing: border-box;
	border-left: 0.01rem solid #ccc;
	padding: 0 0.4rem;
}

.labelBox {
	display: inline-block;
	height: .5rem;
	line-height: .5rem;
	font-weight: bold;
	width: 4.5rem;
	margin-bottom: 0.1rem;
}

.labelBox>i {
	font-size: .16rem;
	display: inline-block;
	width: .9rem;
}

.labelBox>input {
	width: 3.4rem;
	height: .4rem;
	border: .01rem solid #ccc;
	border-radius: .03rem;
	padding-left: .1rem;
}

.labelBox>input:focus {
	box-shadow: 0 0 0.05rem #5068a9;
	border-color: blue;
}

.regDeatil .right>p {
	margin-top: 0.2rem;
	margin-bottom: 0.3rem;
}

.regDeatil .right>p>a {
	color: red;
}

#agree {
	margin-left: 0.92rem;
	height: 0.46rem;
	width: 3.4rem;
	background-color: red;
	border-radius: 0.05rem;
	text-align: center;
	border: none;
	font-size: 0.18rem;
	color: white;
	font-weight: 900;
}

#agree:hover {
	box-shadow: 0 0 0.05rem #5068a9;
}

.agreeDetail {
	margin-top: 0.15rem;
	padding-left: 1.35rem;
}

.agreeDetail>a {
	margin-top: 0.2rem;
	color: gray;
	text-decoration: underline;
}

.agreeDetail>a:hover {
	color: red;
}

.forbide {
	pointer-events: none;
	background-color: coral !important;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
.lawyerReg{
	display: none;
}
