#zhuanLiList .mainWrap{
    margin-top: .42rem;
    background: #fff;
    padding: .25rem 10% 1rem 10%;
    position: relative;
}
#zhuanLiList .mainWrap .path {
    padding-bottom: 0.2rem;
}

#zhuanLiList .mainWrap .path a.active {
    color: #5068a9;
}

#zhuanLiList .mainWrap .path i {
    padding: 0 0.05rem;
}
#zhuanLiList .content  ul li {
    padding:0.1rem;
    box-shadow: 0rem 0.01rem 0.01rem rgba(0, 0, 0, .1);
}
#zhuanLiList .content  ul li  h3 span i{
    font-size: 0.16rem;
    line-height: 0.4rem;
    color: #2e6da4;
}
#zhuanLiList .content  ul li>p span{
    line-height: 0.24rem;
    display: block;
    padding: 0.05rem;
}

#zhuanLiList .content>ul li{  
	margin-top: 0.05rem;
    box-shadow: 0rem 0.01rem 0.01rem rgba(0,0,0,.1);
}
#zhuanLiList .content>ul li:hover{
    box-shadow: .02rem .02rem .1rem rgba(0,0,0,.2),  -0.02rem -0.02rem .1rem rgba(0,0,0,.2);
}