<div class="top_nav">
		<span class="compony_logo floatL">
			<img src="../img/index/logo.png" class="logo" alt="专宝贝"  class="floatL" />
			<p class="floatR">专宝贝</p>
		</span>
    <ul class="nav nav-tabs floatL mainNav">
        <li role="presentation" class="active">
            <a href="../index.html"  class="index">主页</a>
        </li>
        <li role="presentation">
            <a href="people.html" class="people">找代理人</a>
        </li>
        <li role="presentation">
            <a href="knowledge.html" class="knowledge">知识产权</a>
        </li>
    </ul>
    <span class="floatR user">
			<i>logo</i>
			<a href="login.html"  class="login">登录</a>
			<a href="register.html" class="register">注册</a>
		</span>
</div>