<div class="top_nav">
		<span class="compony_logo floatL">
			<img src="img/index/logo.png" alt="专宝贝"  class="floatL" />
			<p class="floatR">专宝贝</p>
		</span>
    <ul class="nav nav-tabs floatL mainNav">
        <li role="presentation" class="active">
            <a href="index.html">主页</a>
        </li>
        <li role="presentation">
            <a href="components/people.html">找代理人</a>
        </li>
        <li role="presentation">
            <a href="components/knowledge.html">知识产权</a>
        </li>
    </ul>
    <span class="floatR user">
			<i>logo</i>
			<a href="../lawH/components/login.html">登录</a>
			<a href="../lawH/components/register.html">注册</a>
		</span>
</div>