


<!--<div class="top_nav">-->
		<!--<span class="compony_logo floatL">-->
			<!--<img src="../img/index/logo.png" class="logo" alt="知法易"  class="floatL" />-->
			<!--<p class="floatR">知法易</p>-->
		<!--</span>-->
    <!--<ul class="nav nav-tabs floatL mainNav">-->
        <!--<li role="presentation" class="active">-->
            <!--<a href="../index.html"  class="index">主页</a>-->
        <!--</li>-->
        <!--<li role="presentation">-->
            <!--<a href="people.html" class="people">普通民事案件</a>-->
        <!--</li>-->
        <!--<li role="presentation">-->
            <!--<a href="propery.html" class="knowledge">知识产权案件</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<span class="floatR user">-->
			<!--<i></i>-->
			<!--<a href="login.html"  class="login" id="loginId">登录</a>-->
			<!--<a href="register.html" class="register" id="registerId">注册</a>-->
			<!--<a href="#" id="loginedMess"></a>-->
			<!--<a href="#" id="loginedUser">用户：</a>-->
			<!---->
	<!--</span>-->
<!--</div>-->


<div class="container-fluid  top_nav">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">菜单</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand compony_logo clearfix">
            <img src="../img/index/logo.png" class="logo pull-left" alt="知法易"  class="floatL" />
            <p class="pull-right">知法易</p>
        </a>
    </div>
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="true" style="">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="../index.html"  class="index">主页</a>
            </li>
            <li>
                <a href="people.html" class="people">普通民事案件</a>
            </li>
            <li>
                <a href="propery.html" class="knowledge">知识产权案件</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html"  class="login" id="loginId">登录</a></li>
            <li><a href="register.html" class="register" id="registerId">注册</a></li>
            <li>
                <a href="#" id="loginedMess"></a>　
                <a href="#" id="loginedUser">用户：</a>
            </li>
        </ul>
    </div>
</div>