<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/pagination/pagination.css">
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/caseList.css" />
    <!--<link rel="icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon">-->
	<link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon">
    <title>案件列表</title>
</head>
<body id="caseListBody">
<div id="header"></div>
<div class="mainWrap">
    <div class="path">
        <a href="people.html?page=case">查案件</a><i>&gt;</i>
        <a class="active">案件列表</a>
    </div>
    <ul class="center-block liWrap">

    </ul>
    <div class="pagerWrap m-style "></div>

</div>
<div id="footer"></div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="selectResModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                选择案由
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="shrotShowL shrotShow">
                    <p>*案件描述未能精准匹配案由，请在此选择案由</p>
                    <span class="valSpan text-strong">案由：
								<i style="color:red"></i>
								<span style="display: none"></span>
							</span>
                    <div class="clearfix floorWrap">
                        <ul class="floor1 pull-left" id="floor1">

                        </ul>
                        <ul class="res2 pull-left clickUl">

                        </ul>
                        <ul class="res3 pull-left clickUl">

                        </ul>
                        <ul class="res4 pull-left clickUl">

                        </ul>

                    </div>

                    <span class="errorTip">*请选择案由</span>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>

</body>


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script>
    $('#header').load('common/header.html',function () {
        function getUrlParam(name, pare) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if(r != null) return pare ? decodeURIComponent(r[2]) : unescape(r[2]);
            return null; //返回参数值
        };
        var page = getUrlParam('fromPage');
        if(page && page=='property'){
            $('.mainWrap .path a').eq(0).html('查案件').attr('href','propery.html?page=case');
            $('.mainNav li').removeClass('active').eq(2).addClass('active');
        }else{
            $('.mainNav li').removeClass('active').eq(1).addClass('active');
        }
    });
    $("#footer").load('common/footer.html');
</script>
<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script src="../plugin/pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/caseList.js"></script>


</html>