<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css">
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/caseDetail.css" />
    <title>专宝贝</title>
</head>
<body id="caseDetail">
<div id="header"></div>
<div class="mainWrap">
    <div class="path">
        <a href="people.html?page=case">查案件</a><i>&gt;</i>
        <a href="caseList.html">案件列表</a><i>&gt;</i>
        <a class="active">案件信息</a>
    </div>
    <div class="content">
        <div>
            <p>上诉人(原审被告): 永康市中通速递有限公司，住所地：永康市经济开发区铜陵西路50号第一幢。\n法定代表人：徐勇战。\n委托诉讼代理人：何慧强，男，1982年1月23日出生，汉族，住杭州市余杭区，系公司员工。\n被上诉人(原审原告)：杨银菊，女，1975年2月9日出生，汉族，住浙江省永康市。\n委托诉讼代理人：郑顺忠，浙江康济律师事务所律师。\n被上诉人(原审被告)：方瑞敏，男，1973年6月22日出生，汉族，住江西省万年县。</p>
            <p>上诉人永康市中通速递有限公司因与被上诉人杨银菊、方瑞敏机动车交通事故责任纠纷一案，不服浙江省永康市人民法院（2016）浙0784民初9794号民事判决，向本院提起上诉。本案现已审理终结。</p>
            <p>本院认为，本案事实清楚，永康市中通速递有限公司作为方瑞敏的雇主，对方瑞敏在履行职务期间发生的侵权行为应当承担相应的民事赔偿责任。永康市中通速递有限公司对杨银菊的伤残等级有异议，在一审中其也未书面提出重新鉴定申请，且其并未提供充分证据，故其在二审中申请对伤残等级进行重新鉴定本院不予准许。综上，永康市中通速递有限公司的上诉请求不能成立，应予驳回；一审判决认定事实清楚，适用法律正确，应予维持。依照<a target='_blank' href='https://www.itslaw.com/search/lawsAndRegulations/lawAndRegulation?searchMode=lawsAndRegulations&lawAndRegulationId=d67a7d01-f233-4bfc-9227-b8cef1d4196b&lawRegulationArticleId=1118502903'>《中华人民共和国民事诉讼法》第一百七十条第一款第（一）项</a>规定，判决如下：</p>
        </div>
        <div id="test">
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    $('#header').load('common/header.html',function () {
        $('.mainNav li').removeClass('active').eq(1).addClass('active');
    });
    $("#footer").load('common/footer.html');
</script>
<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/caseDetail.js"></script>



</html>