<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<!--<link rel="icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />-->
		<link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />
		<title>知法易</title>
		<style type="text/css">
			#dowellMain {
				min-height: 850px;
				padding: 50px;
			}
			
			#dowellDetail .paragraph {
				padding: 20px;
			}
			
			#dowellDetail .paragraph>h3 {
				margin-bottom: 15px;
				color: #4077b2;
			}
			
			#dowellDetail .paragraph>p {
				font-size: 14px;
				line-height: 30px;
			}
			
			#dowellMain .title {
				margin-top: 35px;
				text-align: center;
				font-weight: 900;
				color: #4077b2;
				font-size: 30px;
			}
			
			#dowellDetail p {
				text-indent: 2em;
			}
		</style>
	</head>

	<body id="dowellDetail">
		<div id="header"></div>
		<div id="dowellMain">

		</div>

		<div id="footer"></div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script>
		$('#header').load('common/header.html', function() {
			function getUrlParam(name, pare) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return pare ? decodeURIComponent(r[2]) : unescape(r[2]);
				return null; //返回参数值
			};
			var page = getUrlParam('fromPage');
			if(page && page == 'property') {
				$('.mainNav li').removeClass('active').eq(2).addClass('active');
			} else {
				$('.mainNav li').removeClass('active').eq(1).addClass('active');
			}
		});
		$("#footer").load('common/footer.html');
	</script>
	<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript">
		$(function() {
			//请求案件详情
			var wenshu_id = getUrlParam('wenshu', true),
				reason = getUrlParam('reason', true);
			console.log(wenshu_id);
			console.log(reason);
			var param = JSON.stringify({
				"wenshu_id": wenshu_id,
				"reason": {
					"reason_2": reason
				}
			})
			if(wenshu_id && reason) {
				$.ajax({
					dataType: 'json',
					url: 'http://47.97.197.176:8888/query/case/case_doc',
					type: 'post',
					data: param,
					success: function(res) {
						if(res.code == 0) {
							console.log(res.data);
							var allList = [{
									"name": "基本信息",
									"name1": "party_info",
									"mess": ''
								},
								{
									"name": "审理经过",
									"name1": "trail_flow",
									"mess": ''
								},
								{
									"name": "原告诉称",
									"name1": "plaintiff_point",
									"mess": ''
								},
								{
									"name": "被告辩称",
									"name1": "defendant_point",
									"mess": ''
								},
								{
									"name": "本院查明",
									"name1": "court_verification",
									"mess": ''
								},
								{
									"name": "本院认为",
									"name1": "court_point",
									"mess": ''
								},
								{
									"name": "裁判结果",
									"name1": "judge_result",
									"mess": ''
								},
								{
									"name": "审判人员",
									"name1": "judge_person",
									"mess": ''
								},
								{
									"name": "审判日期",
									"name1": "judge_times",
									"mess": ''
								},
								{
									"name": "书记员",
									"name1": "court_clerk",
									"mess": ''
								}
							];
							var detailNodeHead = `<h3 class="title">${res.data.title}</h3>`;
							$("#dowellMain").append(detailNodeHead);

							$.each(res.data, function(key, ele) {
								for(var i = 0; i < allList.length; i++) {
									if(key == allList[i].name1) {
										allList[i].mess = ele;
									}
								}
							});
							for(var i = 0; i < allList.length; i++) {
								var Node = `<div class="paragraph">
													<h3>${allList[i].name}</h3>
													<p>${allList[i].mess}</p>
											</div>`;
								$("#dowellMain").append(Node);
							}
						}
					},
					error: function() {
						errorModal('请求律师详情失败！');
						console.error('/query/case/case_doc', arguments);
					}
				})
			}
		})
	</script>

</html>