<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>知识产权</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
	</head>

	<body>
		<div id="knowledge" class="all_center">
			<div id="header"></div>


			<div id="footer"></div>
			
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script>
        $('#header').load('common/header.html',function () {
            $('.mainNav li').removeClass('active').eq(2).addClass('active');
        });
        $("#footer").load('common/footer.html');
	</script>
</html>