<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>知识产权</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
	</head>

	<body>
		<div id="knowledge" class="all_center">
			<div class="top_nav">
				<span class="compony_logo floatL">
					<img src="../img/index/logo.png" alt="专宝贝"  class="floatL" />
					<p class="floatR">专宝贝</p>
				</span>
				<ul class="nav nav-tabs floatL mainNav">
					<li role="presentation" >
						<a href="../index.html">主页</a>
					</li>
					<li role="presentation" >
						<a href="../components/people.html">找代理人</a>
					</li>
					<li role="presentation" class="active">
						<a href="../components/knowledge.html">知识产权</a>
					</li>
				</ul>
				<span class="floatR user">
					<i>logo</i>
					<a>登录</a>
					<a href="">注册</a>
				</span>
			</div>
			
		</div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>

</html>