<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css">
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/lawyerDetail.css" />
    <title>专宝贝</title>
</head>
<body id="lawyerDetail">
<div id="header"></div>
<div class="mainWrap">
    <div class="path">
        <a href="people.html">找律师</a><i>&gt;</i>
        <a href="lawyerList.html">律师列表</a><i>&gt;</i>
        <a class="active">律师信息</a>
    </div>
    <div class="content">
        <h3><span>肖才元</span><span>　　大学本科毕业生</span></h3>
        <div class="caseType">
            <p>
                <i></i>
                <span class="text-strong font-16">案例</span>
            </p>
            <dl>
                <dt>
                    <i class="glyphicon glyphicon-hand-right"></i>侵权责任纠纷
                    <span class="pull-right">
                        <span>代理案件数：40</span>
                        <span>胜诉率：<i class="font-16">0.6</i></span>
                    </span>
                </dt>
                <dd><a href="#">韦世华与欧廷保、深圳市吉康土石方工程有限公司等道路交通事故人身损害赔偿纠纷一审民事判决书</a></dd>
                <dd><a  href="#">阮锡伦与范联普、深圳市长青货物运输有限公司、中国太平洋财产保险股份有限公司深圳分公司机动车交通事故责任纠纷一审民事判决书</a></dd>
                <dd><a  href="#">陈锋生、廖恒旦与洪辉胜、梅州懿安运输有限公司、中国太平洋财产保险股份有限公司梅州中心支公司、中国太平洋财产保险股份有限公司深圳分公司机动车交通事故责任纠纷一审民事判决书</a></dd>
                <dd><a  href="#">梁明军与吕子强机动车交通事故责任纠纷一案一审民事判决书</a></dd>
            </dl>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    $('#header').load('common/header.html',function () {
        $('.mainNav li').removeClass('active').eq(1).addClass('active');
    });
    $("#footer").load('common/footer.html');
</script>
<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/lawyerDetail.js"></script>



</html>