<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css" />
		<link rel="stylesheet" href="../plugin/cityPicker/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/lawyerDetail.css" />
		<!--<link rel="icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />-->
		<link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />
		<title>专宝贝</title>
	</head>

	<body id="lawyerDetail">
		<div id="header"></div>
		<div class="mainWrap">
			<div class="path">
				<a href="people.html">找律师</a><i>&gt;</i>
				<a href="lawyerList.html">律师列表</a><i>&gt;</i>
				<a class="active">律师信息</a>
			</div>
			<div class="content">

			</div>
			<div class="chartWrap clearfix">
				<!--<h4 class="chartTitle font-16 text-strong">胜诉率</h4>-->

				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active">
						<a href="#home" aria-controls="home" role="tab" data-toggle="tab">分类案件胜诉率</a>
					</li>
					<li role="presentation">
						<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">总体胜诉率</a>
					</li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="home">
						<div class="allMap">
							<div id="rateChart0" style="width:100%;height:350px;"></div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<div class="messMap">
							<div id="rateChart1" style="width: 100%;height:350px;"></div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div id="footer"></div>
	</body>
	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script type="text/javascript" src="../js/jquery.cookie.js"></script>
	<script>
		$('#header').load('common/header.html', function() {
			function getUrlParam(name, pare) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg); //匹配目标参数
				if(r != null) return pare ? decodeURIComponent(r[2]) : unescape(r[2]);
				return null; //返回参数值
			};
			var page = getUrlParam('fromPage');
			if(page && page == 'property') {
				$('.mainWrap .path a').eq(0).html('知识产权律师').attr('href', 'propery.html');
				$('.mainNav li').removeClass('active').eq(2).addClass('active');
			} else {
				$('.mainNav li').removeClass('active').eq(1).addClass('active');
			}
		});
		$("#footer").load('common/footer.html');
	</script>
	<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
	<script src="../plugin/cityPicker/js/city-picker.js"></script>
	<script src="../plugin/echarts.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/lawyerDetail.js"></script>

</html>