<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css">
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <title>律师</title>
</head>
<body>
律师列表
</body>
</html>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<!--<script>-->
    <!--$("#header").load('common/header.html', function (data, status, xhr) {-->
        <!--debugger;-->

    <!--})-->
<!--</script>-->