<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页面</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" /
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/login.css" />
	</head>
	<body id="login">
		<div class="top_nav">
			<span class="compony_logo floatL">
				<img src="../img/index/logo.png" class="logo" alt="专宝贝"  class="floatL" />
				<p class="floatR">专宝贝</p>
			</span>
			<span class="registerMess">一切用数据说话</span>
		</div>
		<div class="lgContain">
			
		</div>
		
	</body>
</html>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>