<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--<link rel="stylesheet" type="text/css" href="plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="plugin/circle/css/circle.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->

</head>

<body>

<div id="index" class="all_center">
    <!--头部-->
    <div id="header"></div>

    <!--<div class="top_nav">-->
    <!--<span class="compony_logo floatL">-->
    <!--<img src="img/index/logo.png" alt="专宝贝"  class="floatL" />-->
    <!--<p class="floatR">专宝贝</p>-->
    <!--</span>-->
    <!--<ul class="nav nav-tabs floatL">-->
    <!--<li role="presentation" class="active">-->
    <!--<a href="index.html">主页</a>-->
    <!--</li>-->
    <!--<li role="presentation">-->
    <!--<a href="components/people.html">找代理人</a>-->
    <!--</li>-->
    <!--<li role="presentation">-->
    <!--<a href="components/knowledge.html">知识产权</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--<span class="floatR user">-->
    <!--<i>logo</i>-->
    <!--<a href="../lawH/components/login.html">登录</a>-->
    <!--<a href="../lawH/components/register.html">注册</a>-->
    <!--</span>-->
    <!--</div>-->
    <!--轮播图-->
    <div class="circle">
        <div class="area">

            <a id="prev" class="prevBtn qq" >></a>

            <a id="next" class="nextBtn qq" >
                <</a>

            <div id="js" class="js">

                <div class="box01">

                    <img src="plugin/circle/images/legal_adviser.jpg">

                    <img style="display: none" src="plugin/circle/images/patent.jpg">

                    <img style="display: none" src="plugin/circle/images/bg5.jpg">

                    <img style="display: none" src="plugin/circle/images/bg4.jpg">

                </div>

                <div class="bg">
                    <div id="jsNav" class="jsNav">

                        <a class="trigger imgSelected" >1</a>

                        <a class="trigger" >2</a>

                        <a class="trigger" >3</a>

                        <a class="trigger" >4</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--选择的初始-->

    <ul class="choice">
        <li>
            <p>找代理人</p>
            <p>我们会为您推荐:</p>
            <p>
                申请过类似专利的代理人<br /> 经验丰富的代理人 <br /> 熟悉当地环境的代理人
            </p>
            <a class="button" href="components/people.html">开始找代理人</a>
        </li>
        <li>
            <p>查专利</p>
            <p>快速找到对应专利:</p>
            <p>
                代理人+专利号检索<br /> 只给您最精确的结果！
            </p>
            <a class="button" href="../lawH/components/knowledge.html">开始找专利</a>
        </li>
    </ul>
    <!--尾部-->
    <div id="footer"></div>
    <!--<div class="footer">-->
    <!--<p>专宝贝</p>-->
    <!--<p>©2017 fabaobei.com版权所有 | 备案号</p>-->
    <!--<p>如有任何疑问或建议请发邮件至xxx</p>-->
    <!--<p> <a href="#">用户协议</a> <a href="#">联系我们</a></p>-->
    <!--</div>-->
</div>
</body>
<!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
<!--<script type="text/javascript" src="plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="plugin/circle/js/circle.js"></script>-->
<!--<script type="text/javascript" src="js/index.js"></script>-->
<script>
    loadCommonHtml("components/common/header.html", "header");
    loadCommonHtml("components/common/footer.html", "footer");
</script>

</html>