<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/patentList.css" />
    <!--<link rel="icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon">-->
	<link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />
    <title>专宝贝</title>
</head>
<body id="agentsList">
<div id="header"></div>
<div class="mainWrap">
    <div class="path">
        <a href="propery.html?page=agencies">找代理机构</a><i>&gt;</i>
        <a class="active">代理机构列表</a>
    </div>
    <ul class="center-block">
        <!--<li>-->
            <!--<a class="contant">-->
                <!--<p class="name"><span class="pull-left">李小明</span><i>男</i></p>-->
                <!--<p class="location"><i class="glyphicon glyphicon-map-marker"></i>北京市京师律师事务所</p>-->
                <!--<p class="info text-strong">-->
                    <!--<span>专利名称：<i>一种管道清灰振打装置</i></span>-->
                    <!--<span>专利号：<i>CN201720252580.2</i></span>-->
                    <!--<span>专利类型：<i>实用新型专利申请</i></span>-->
                    <!--<span>发布日期：<i>2018-01-16 12:00:00</i></span>-->
                <!--</p>-->
                <!--<p class="des">-->
                    <!--<i>专利描述</i>-->
                    <!--<span>本实用新型公开了一种管道清灰振打装置，包括除尘管道和电机减速机，在所述除尘管道外壁设置有振打铁，电机减速机安装在减速机座上，一个振打锤头通过摆臂连接在电机减速机的输出轴上，电机减速机轴转动带动振打锤头敲打振打铁将粘结在除尘管道内壁的积灰震落。本实用新型结构简单，经久耐用，利用机械降低了管道积灰程度，减少了人工维护成本，同时也减少了工人劳动强度。</span>-->
                <!--</p>-->
            <!--</a>-->
            <!--<a class="details btn">查看详情</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a  class="contant">-->
                <!--<p class="name"><span class="pull-left">李小明</span><i>男</i></p>-->
                <!--<p class="location"><i class="glyphicon glyphicon-map-marker"></i>北京市京师律师事务所</p>-->
                <!--<p class="info text-strong">-->
                    <!--<span>专利名称：<i>一种管道清灰振打装置</i></span>-->
                    <!--<span>专利号：<i>CN201720252580.2</i></span>-->
                    <!--<span>专利类型：<i>实用新型专利申请</i></span>-->
                    <!--<span>发布日期：<i>2018-01-16 12:00:00</i></span>-->
                <!--</p>-->
                <!--<p class="des">-->
                    <!--<i>专利描述</i>-->
                    <!--<span>本实用新型公开了一种管道清灰振打装置，包括除尘管道和电机减速机，在所述除尘管道外壁设置有振打铁，电机减速机安装在减速机座上，一个振打锤头通过摆臂连接在电机减速机的输出轴上，电机减速机轴转动带动振打锤头敲打振打铁将粘结在除尘管道内壁的积灰震落。本实用新型结构简单，经久耐用，利用机械降低了管道积灰程度，减少了人工维护成本，同时也减少了工人劳动强度。</span>-->
                <!--</p>-->
            <!--</a>-->
            <!--<a class="details btn">查看详情</a>-->
        <!--</li>-->
    </ul>
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
</div>
<div id="footer"></div>
</body>


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script>
    $('#header').load('common/header.html',function () {
        $('.mainNav li').removeClass('active').eq(2).addClass('active');
    });
    $("#footer").load('common/footer.html');
</script>

<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/patentList.js"></script>


</html>
