<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>找代理人</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css">
		<link rel="stylesheet" href="../plugin/cityPicker/css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<link rel="stylesheet" type="text/css" href="../css/people.css" />
	</head>

	<body id="peopleBody">
		<div id="people" class="all_center">
			<div id="header"></div>


			<!--代理人的界面选择-->
			<div class="peopleMain mainWrap">
				<ul id="searchTabs" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active lawyer"><a href="#lawyer" id="home-tab" role="tab" data-toggle="tab" aria-controls="lawyer" aria-expanded="true">找律师</a></li>
					<li role="presentation" class="case"><a href="#case" role="tab" id="profile-tab" data-toggle="tab" aria-controls="case" aria-expanded="false">查案件</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in search" id="lawyer" aria-labelledby="lawyer-tab">
						<label class="labelBox textarea">
							<i>案件描述</i><br/>
							<textarea placeholder="请输入案情描述" class="caseDescription"></textarea>
						</label>
						<br/>
						<label class="labelBox">
							<i>律师名称</i><input type="text" class="type name" placeholder="请输入律师名称或名称关键字">
						</label>
						<br/>
						<div class="labelBox text-left">
							<i>所在城市</i>
							<div id="cityPicker">
								<input readonly type="text" data-toggle="city-picker" placeholder="请选择省/市" data-level="city" >
							</div>
						</div>
						<span class="errorTip"></span>
						<button type="button" class="btn btn-primary searchBtn">搜索</button>
					</div>

					<div role="tabpanel" class="tab-pane fade" id="case" aria-labelledby="case-tab">
						<label class="labelBox textarea">
							<i>案件描述</i><br/>
							<textarea placeholder="请输入案情描述"  class="caseDescription"></textarea>
						</label>
						<br/>
						<!--<label class="labelBox">
							<i>律师名称</i><input type="text" class="type name" placeholder="请输入律师名称">
						</label>
						<br/>
						<label class="labelBox">
							<i>事务所</i><input type="text" class="type corporation" placeholder="请输入律师所在事务所">
						</label>
						<br/>-->
						<div class="labelBox text-left">
							<i>地区选择</i><br/>
							<div id="cityPicker1">
								<input readonly type="text" data-toggle="city-picker" placeholder="请选择省/市" data-level="city" >
							</div>
						</div>
						<span class="errorTip"></span>
						<button type="button" class="btn btn-primary searchBtn">搜索</button>
					</div>
				</div>



			</div>



			<div id="footer"></div>

		</div>
	</body>

	<script type="text/javascript" src="../js/jquery.min.js"></script>
	<script>
        $('#header').load('common/header.html',function () {
            $('.mainNav li').removeClass('active').eq(1).addClass('active');
        });
        $("#footer").load('common/footer.html');
	</script>
	<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
	<script src="../plugin/cityPicker/js/city-picker.js"></script>
	<script type="text/javascript" src="../js/index.js"></script>
	<script type="text/javascript" src="../js/people.js"></script>

</html>