<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<!--<link rel="icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon">-->
			<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
		<link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="../css/index.css" />
		<title>服务协议</title>
	</head>

	<body>
		<div id="header"></div>
		<h3 >专宝贝法律服务平台(用户)注册协议</h3>
		<div style="width: 95%; margin: 0 auto;">
			<p>
				本协议是您与专宝贝法律服务平台网站（以下简称“本平台”，网址：http://47.92.38.167/）所有者专宝贝之间就专宝贝法律服务平台网站服务等相关事宜所订立的契约，请您仔细阅读《免责声明》及《注册协议》，您点击“同意《专宝贝法律服务平台（用户）注册协议》”按钮，并提交注册后，本协议即构成对双方具有约束力的法律文件。
			</p>
			<h4>
				免责声明
			</h4>
			<h4>
				您同意专宝贝公司对以下情况免责：
			</h4>
	

		<p>1、您违反本注册条款、法律法规或社会公共道德所造成的后果，专宝贝公司免责；</p>
		<p>2、由专宝贝法律服务平台按您要求而采取的行动所造成的后果，专宝贝公司免责；</p>
		<p>3、因第三方的行为或言论而造成的后果，专宝贝公司免责；</p>
		<p>4、用户自行录入的信息错误，专宝贝公司免责；</p>
		<p>5、因公开信息存在错误、未及时更新或更新后与本平台信息传输时间差，而造成信息不准确，专宝贝公司免责；</p>
		<p>6、您理解部分信息由专宝贝法律服务平台系统自动收录、整理、分析与展示，而局限于认知水平及技术水平，该等系统算法可能不完善，专宝贝公司免责。 但应在用户以书面申请指出并提供相应文证材料后，在合理期限内尽最大的努力修复；
		</p>
		<p>7、专宝贝需定期或不定期地对专宝贝法律服务平台法律服务平台的软、硬件进行维护或检修，在合理时间内因此而造成网络服务（包括但不限于收费网络服务）中断， 专宝贝公司免责。当然尽可能的在维护或检修前事先予以通知，但专宝贝公司保留在特殊情况下不经事先通知为维修保养、升级或其它合理目的暂停本服务任何部分的权利；
		</p>
		<p>8、因设备故障等不可预测事件影响到服务正常运行的，专宝贝公司承诺在第一时间与相关单位配合修复。 但因此致用户损失的，专宝贝公司免责；
		</p>
		<p>9、用户在向专宝贝公司导入文件时，应事先做好备份。因传输信息丢失或错误致使用户损失的，专宝贝公司免责，对于用户自行上传的资料，专宝贝公司不做真实性审查，如由此产生任何问题、责任，专宝贝公司免责；</p>
		<p>10、因政府或司法行为导致用户不能使用专宝贝公司所提供的服务时，专宝贝公司免责；</p>
		<p>11、专宝贝公司鼓励法律服务需求客户端用户自行利用“查律师”功能寻找到合适的律师，用户对自己的选择行为承担责任，对用户的该等选择行为所带来的任何不利后果专宝贝公司免责；</p>
		<p>12、专宝贝公司基于法律服务需求客户端的特别请求，利用专宝贝平台为其推介律师，视为用户对平台予以充分信任及认可，平台将尽可能根据用户的需求推介若干名律师供其选择且不收取任何服务费用，专宝贝公司对此等推介行为免责；</p>
		<p>13、专宝贝公司为给用户推介合适的律师，可能会与用户进行进一步沟通，本平台不对沟通中可能存在的某些主观看法、判断承担任何法律责任；</p>
		<p>14、专宝贝公司为给用户推介合适的律师，可能会事先与律师进行沟通，最终能否成立诉讼代理合同，本平台不承担任何法律责任；</p>
		<p>15、专宝贝公司为给用户推介合适的律师，本平台可能会事先与律师进行沟通，并将客户传送的资料推介给律师，在用户传送前述资料至本平台时，视为授权本平台可将资料发送给相关律师，本平台不对此行为可能而引起的任何不利后果承担责任；</p>
		<p>16、专宝贝公司不对由于犯罪行为而致的账款流失或错误支付承担任何法律责任；</p>

		<h4>律师的特别声明</h4>
		<p>17、专宝贝法律服务平台网站（本平台）对律师所代理案件胜率进行评价是基于：</p>

		<p>　　⑴、本平台从互联网获取的法律文书所记载的相关信息；</p>
		<p>　　⑵、本平台确定的相关规则。</p>
		<p>18、对律师所代理案件胜率进行评价是基于以下因素，可能会使评价结果有某种程度的失真：</p>
		<p>　　⑴、因客观原因难以获取某一律师所代理全部案件的裁判文书；</p>
		<p>　　⑵、裁判文书制作标准不统一，导致胜负评判规则难以标准化；</p>
		<p>　　⑶、机器对裁判文书内容解析的局限性及由于海量裁判文书信息无法通过人工甄别的客观性；</p>
		<p>　　⑷、裁判文书及设备本身存在的错误；</p>
		<p>　　⑸、规则本身的局限性。</p>
		<p>19、本网站的胜率没有任何人工干预，是在统一的规则下由机器自动生成的结果，所显示的排名结果并不代表本平台对某一律师的推荐或忽略。对所显示的结果免责。</p>
		<p>20、本网站仅对自身所发现的评判规则之不完善之处进行修正，不接受个别或者部分律师对评判规则提出的修正请求。</p>
		<p>21、律师可以就平台所显示的裁判文书错误提出修正意见，但应当提交相应的文证材料经本平台审核，通过后予以修正。</p>
		<p>22、鉴于律师代理案件胜率服从概率统计学的规则，随着某一律师代理案件裁判文书、从业时间的积累，其胜率将越来越趋于客观、真实。本平台为此接受所有律师上传自己所代理案件的裁判文书，经本平台审核通过后纳入评价范围（剔除在本平台数据库已出现的裁判文书）。</p>
		<p>23、胜率仅是综合能力的一个方面，律师的真实能力是综合性的。本平台提供多种渠道，方便律师展示自我。由自身原因导致的客户评价降低本平台免责。</p>
		<p>24、“用户是上帝”。本网站开通用户评价系统，对律师的服务进行评价，用户评价本平台免责，但接受有客观证据证实的修正申请。</p>

		<p>欢迎每一位有志于追求客观、真实的律师与“专宝贝”平台一起，把最优秀的自我展现给我们的客户，实现你、我、他的共赢！</p>
		<h4>注册协议</h4>
		<p> 一、合作律师注册</p>

		<p> 1. 注册者资格：</p>
		<p>您在注册及以该注册账户向专宝贝法律服务平台其他注册用户提供法律服务时应当具有中华人民共和国司法部门颁发的《律师执业证》，在必要时应向本平台提交《律师执业证》扫描件，经本平台系统校验规则校验通过后方为有效。若想与专宝贝法律服务平台签约合作，经审核通过后，由专宝贝法律服务平台客服人员填写合作协议号，设立认证合作标志，则可在专宝贝法律服务平台从业。若您不具备上述主体资格或经审核后您不具备上述资格，您应停止注册行为，否则您应承担因此而导致的一切法律后果，或由专宝贝法律服务平台注销（永久冻结）您的专宝贝法律服务平台账户，并向您索偿。</p>
		<p>2. 律师展示</p>
		<p>专宝贝法律服务平台致力于帮助需要法律服务的用户找到优秀律师，为此专宝贝法律服务平台向用户提供律师信息搜索与展示等服务。 专宝贝法律服务平台有权不时单方面修改或终止全部或部分服务，包括但不限于停止展示某个注册律师。专宝贝法律服务平台展示的律师信息包括但不限于</p>
		<p>　　（1）司法部门已公开的信息，包括律师执业信息与律师案例信息；</p>
		<p>　　（2）注册律师提供的信息；</p>
		<p>　　（3）专宝贝法律服务平台用户（包括其他注册律师）提供的评价信息 </p>
		<p>　　（4）专宝贝法律服务平台通过技术手段对前述律师信息进一步整理、分析后所得到的律师信息（以上合称“律师信息”）。您不可撤销地同意并授权专宝贝法律服务平台展示和使用您的律师信息。</p>
		<p>3． 知识产权</p>
		<p>用户承认专宝贝公司拥有对专宝贝法律服务平台上内容的所有权利，包括但不限于所有知识产权。主要包括注册用户在专宝贝法律服务平台的操作记录，网站技术源代码等。您同意不会修改、改编、翻译、创作专宝贝法律服务平台上的内容，通过反编译、反向工程、 反汇编或其它方式从专宝贝法律服务平台得到网站源代码。您同意不会删除、掩盖或更改专宝贝公司或任何第三方的版权声明、商标、LOGO或其它知识产权声明。 律师在专宝贝法律服务平台上的业务操作内容知识产权归律师个人所有。
		</p>
		<p>4. 律师承诺</p>
		<p>4.1 律师信息真实</p>
		<p>您承诺并保证（1）您提供的律师信息是真实有效的，且不侵犯任何第三人的合法权益；（2）您提供的律师文章或回答等律师信息是原创的，不存在任何抄袭或其它违法或不诚信的行为；（3）您将检查专宝贝法律服务平台收录的律师信息的真实性，若发现信息错误应当立即以电子邮件方式通知专宝贝法律服务平台，专宝贝法律服务平台将在收到书面更正申请并经审查通过后予以更正。</p>

		<p>4.2 优质服务</p>
		<p>您应尽最大努力向专宝贝法律服务平台用户提供优质服务，包括但不限于在达成委托前主动联系用户，提供诚信的服务报价；在达成委托后，以专业水准勤勉地处理用户委托的事项，并与用户保持良好的沟通。</p>

		<p>4.3 律师从本平台获悉的包括但不限于用户信息及案件信息等，未经用户同意不得以任何形式或方式对第三方披露，严格遵守《律师职业道德》和《律师职业行为规范》。如对第三方披露因此产生的责任由律师承担，本平台免责。</p>
		<p>5. 专宝贝法律服务平台与合作律师的合作内容</p>
			<p>　　5.1 网络推介专宝贝法律服务平台将根据注册用户（指在专宝贝法律服务平台上进行在线注册的用户）法律服务需求和合作律师（指在专宝贝法律服务平台注册并签订合作合同的律师）执业特长，系统自动选择适合的合作律师进行推介。注册用户提出法律服务的需求后，如您所在的地域、专业领域等符合注册用户的需求，专宝贝法律服务平台系统将会主动向该注册用户进行推介。</p> 

		<p>　　5.2 专宝贝法律服务平台的注册用户如果需要签发律师函或有法律文书审核、撰写等需求，可在专宝贝法律服务平台上发出订单，由您或其他合作律师通过电话
		、当面或在专宝贝法律服务平台指定的电子系统下向注册会员提供具体法律服务，注册用户将通过专宝贝法律服务平台向您或其他合作律师支付服务费用。</p> 
		<p>　　5.3 如遇专宝贝法律服务平台注册用户具体法律需求时，您可与专宝贝法律服务平台另行协商合作费用事宜。</p> 
		<p>　　5.4 您可通过专宝贝法律服务平台逐步开发公布的业务版块向注册用户提供法律服务，并通过专宝贝法律服务平台向用户收取法律服务费用。
		法律服务费（代理费）引起的争议仅存在于用户与律师间，双方均放弃将本平台的运营公司作为前述争议的诉讼当事人并进而要求其承担义务的权利。平台仅承担按照双方一致意见或有法律效力裁判文书付款的义务。</p> 
		<p>　　5.5 您在接到专宝贝法律服务平台注册用户定制的法律服务需求后，需按照与专宝贝法律服务平台或与注册用户约定的时间完成该定制服务（主要是指非诉讼类业务）。
		 如果您违反本注册条款的约定，您有义务赔偿专宝贝法律服务平台由此承受的全部损失。</p> 

		<p>6. 保密 您承诺，在您使用专宝贝法律服务平台期间和之后，您将对您在使用专宝贝法律服务平台期间获知的关于专宝贝法律服务平台的信息（包括但不限于专宝贝法律服务平台的构造、模式、
		以及和您之间的通讯）严格保密，不得向第三方披露或公开。您也应对您获得的专宝贝法律服务平台用户的联系方式和其它用户信息严格保密，不得向第三方披露或公开，也不得用于除了联系该潜在客户讨论法律服务外的任何目的。</p> 
		<p>二、普通用户注册</p> 

		<p>第1条 本网站服务条款的确认和接纳</p> 
		<p>　　1.1 在本协议中，“您”指客户、网站浏览者、技术使用者、服务接受者。</p> 
		<p>　　1.2 本平台的各项电子服务的所有权和运作权归专宝贝公司所有。用户同意所有注册协议条款并完成注册程序，才能成为本平台的正式用户。
		用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p> 
		<p>　　1.3 专宝贝公司通过互联网依法为用户提供互联网信息等服务，用户在完全同意本协议及本平台台规定的情况下，方有权使用本平台的相关服务。</p> 
		<p>　　1.4 用户点击同意本协议的，即视为用户确认自己具有享受本平台服务等相应的权利能力和行为能力，能够独立承担法律责任。</p> 
		<p>　　1.5 如果您在18周岁以下，您只能在父母或监护人的监护参与下才能使用本平台。</p> 
		<p>　　1.6 专宝贝公司保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。</p> 
		<p>第2条 用户信息</p> 
		<p>　　2.1 当您在本平台或使用本平台服务时，您应当提供完整、准确、真实的注册信息或认证信息。如果您没有提供完整、准确、真实的注册信息或认证信息，因此而导致您的权利受损，本平台免责。</p> 
		<p>　　2.2 注册成功后，请妥善保管您的密码和帐号。非本平台原因导致的密码及帐号泄露，本平台不承担法律后果。</p> 
		<p>　　2.3 对于您从本平台或使用本平台服务时获悉的商业秘密，包括但不限于本平台的商业秘密或其他第三方的商业秘密，您有义务保密。未经本平台或相关第三方的书面许可，
			您不得向本平台或相关第三方之外的任意方披露或允许其使用该商业秘密。若因您未尽到保密义务而产生的损失或索赔，与本平台无关，若本平台因此遭受损失的，本平台有权要求您承担相应的责任。</p> 
		<p>　　2.4 您在注册本平台或使用本平台服务时，允许本平台采集包括但不限于注册信息、认证信息、服务信息、非个人化信息等用户信息，
		在不透露单个用户隐私资料的前提下，本平台有权对整个用户数据库进行分析并对用户数据库进行商业利用，以便于本平台为您提供更精准更适合的各项服务。</p>
		<p>　　2.5 用户注册的帐号如果出现以下情况，专宝贝法律服务平台将有权禁止使用：</p>
		<p>　　　　——以党和国家领导人的真实姓名或音近名称注册</p>
		<p>　　　　——以国家机构或其他机构的名称注册</p>
		<p>　　　　——以专宝贝法律服务平台、专宝贝法律服务平台产品、专宝贝法律服务平台站、专宝贝法律服务平台版块等相关或相近名称注册</p>
		<p>　　　　——以含有恶意人身攻击或淫秽字眼的名称注册</p>
		<p>　　　　——以“版主”、“超级版主”、“管理员”等名称注册</p>
		<p>　　　　——以机器手段批量注册。</p>
		<p>　　2.6 您同意，本平台拥有通过邮件、微信、短信、电话等形式，向在本平台注册用户告知信息的权利。</p>
		<p>　　2.7 您不得将在本平台注册获得的账户借给他人使用，否则用户应承担由此产生的全部责任，并与实际使用人承担连带责任。</p>
		<p>　　2.8 您同意，本平台有权使用用户的注册信息、用户名、密码等信息，登录进入用户的注册账户，进行证据保全，包括但不限于公证、见证等。</p>
		<p> 第3条 用户依法言行义务</p>
		<p></p> 
		<h4>本协议依据国家相关法律法规规章制定，用户同意严格遵守以下义务：</h4> 
		<p>　　3.1 不得传输或发表：煽动抗拒、破坏宪法和法律、行政法规实施的言论，煽动颠覆国家政权，推翻社会主义制度的言论，煽动分裂国家、破坏国家统一的的言论，煽动民族仇恨、
			民族歧视、破坏民族团结的言论；</p>
		<p>　　3.2 从中国大陆向境外传输资料信息时必须符合中国有关法规；</p> 
		<p>　　3.3 不得利用本平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p> 
		<p>　　3.4 不得干扰本平台的正常运转，不得侵入本平台及国家计算机信息系统；</p> 
		<p>　　3.5 不得传输或发表任何违法犯罪的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、伤害性的、庸俗的、淫秽的、不文明的等信息资料；</p> 
		<p>　　3.6 不得传输或发表损害国家社会公共利益和涉及国家安全的信息资料或言论；</p> 
		<p>　　3.7 不得教唆他人从事本条所禁止的行为；</p> 
		<p>　　3.8 不得利用在本平台注册的账户进行牟利性经营活动；</p> 
		<p>　　3.9 不得发布任何侵犯他人著作权、商标权等知识产权或合法权利的内容；</p> 
		<p>用户应不时关注并遵守本平台不时公布或修改的各类合法规则规定。本平台保有自行删除站内各类不符合法律政策或不真实的信息内容而无须通知用户的权利。若用户未遵守以上规定的，本平台
			有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p> 

		<p> 第4条 商品信息</p>
		<p>本平台上的服务信息随时都有可能发生变动，不作特别通知。由于网站上服务信息的数量极其庞大，虽然本平台会尽最大努力保证您所浏览产品信息的准确性，但由于众所周知的互联网技术因素等
			客观原因存在，本平台网页显示的信息可能会有一定的滞后性或差错，对此情形您知悉并理解；专宝贝公司欢迎纠错，并会视情况给予纠错者一定的奖励。为表述便利，产品和服务简称为“产品”或“服务”。</p> 
		<p>第5条 订单</p> 
		<p>　　5.1 在您下订单时，请您仔细确认所购订单信息。联系人与用户本人不一致的，联系人的行为和意思表示为用户的行为和意思表示，用户应对联系人的行为及意思表示的法律后果承担连带责任。</p> 
		<p>　　5.2 由于市场变化及各种以合理商业努力难以控制的因素的影响，本平台无法保证您提交的订单信息中希望购买的产品都能提供；如您拟购买的产品，发生无法提供的情形，您有权取消订单。</p> 
		<p>　　5.3 本平台仅为用户提供中文咨询及书面服务，若用户有英文服务需求，请致电本平台客户服务部另行协商确定服务价格。且本平台对所涉及的专家提供的最终服务结果不作保证或承诺，对专家提
			供的咨询意见亦不作保证或承诺。</p> 
		<p>　　5.4 用户应保证提供的信息、描述、材料等真实、合法、有效。如由于用户提供的信息、描述、材料等不真实或违反法律规定所产生的任何责任本平台免责。</p> 
		<p>第6条 交付</p> 
		<p>　　6.1 本平台将会把产品（服务）发送到您或指定联系人所指定的接收地址或邮箱。</p>
		<p>　　6.2 用户因下列原因导致无法及时收到材料，专宝贝公司免责：</p>
		<p>　　　(1)用户提供的信息错误、地址不详细</p>
		<p>　　　(2)产品交付后无人查阅、签收</p>
		<p>　　　(3)情势变更因素导致</p>
		<p>　　　(4)不可抗力因素，例如：自然灾害、交通戒严、突发战争等。</p>
		<p>第7条 所有权及知识产权条款</p> 
		<p>　　7.1 您一旦接受本协议，即表明您主动将其在任何时间段在本平台发表的任何形式的信息内容（包括但不限于客户评价、客户咨询、各类话题文章等信息内容）的财产性权利等任何可转让的权利，
			如著作财产权（包括并不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），全部
			独家且不可撤销地无偿转让给本平台所有，您同意专宝贝公司有权就任何主体侵权而单独提起诉讼。</p> 
		<p>　　7.2 本协议已经构成《中华人民共和国著作权法》及相关法律规定的著作财产权等权利转让书面协议，其效力及于用户在专宝贝公司网站上发布的任何受著作权法保护的作品内容，无论该内容形
			成于本协议订立前还是本协议订立后。</p> 
		<p>　　7.3 专宝贝公司是本平台的制作者,拥有此网站内容及资源的著作权等合法权利,受国家法律保护,有权不时地对本协议及本平台的内容进行修改，并在本平台张贴，无须另行通知用户。在法律允许的
			最大限度范围内，专宝贝公司对本协议及本平台内容拥有解释权。</p>
		<p>　　7.4 除法律另有强制性规定外，未经专宝贝公司明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本平台的信息内容，否则，
			专宝贝公司有权追究其法律责任。</p> 
		<p>　　7.5 本平台所刊登的资料信息（诸如文字、图表、标识、按钮图标、图像、声音文件片段、数字下载、数据编辑和软件），均是专宝贝公司或其内容提供者的财产，受中国和国际版权法的保护。本平
			台上所有内容的汇编是专宝贝公司的排他财产，受中国和国际版权法的保护。本平台上所有软件都是专宝贝公司或其关联公司或其软件供应商的财产，受中国和国际版权法的保护。</p> 
		<p>第8条 责任限制</p> 
		<p>您理解并同意自主登录、使用专宝贝法律服务平台和所有通过专宝贝法律服务平台提供的页面及软件功能，在使用专宝贝法律服务平台页面和其中软件因个人操作不当而对计算机系统造成的损坏或个人数
			据的丢失，您应承担全部责任。在适用法律允许的最大范围内，专宝贝公司明确表示不提供任何其他类型的保证，不论是明示的或默示的，包括但不限于适销性、适用性、可靠性、准确性、完整性、无病
			毒以及无错误的任何默示保证和责任。另外，在适用法律允许的最大范围内，专宝贝公司并不担保专宝贝法律服务平台一定能满足您的要求，也不担保专宝贝法律服务平台不会被修改、中断或终止，并且
			对专宝贝法律服务平台的及时性、安全性、错误发生，以及信息是否能准确、及时、顺利的传送均不作任何担保。在适用法律允许的最大范围内，专宝贝公司不就因您使用专宝贝法律服务平台引起的，或在
			任何方面与专宝贝公司的产品和服务有关的任何意外的、非直接的、特殊的、或间接的损害或请求（包括但不限于因人身伤害、因隐私泄漏、因未能履行包括诚信或合理谨慎在内的任何责任、因过失和因任
			何其他金钱上的损失或其他损失而造成的损害赔偿）承担任何责任。</p>
		<p>第9条 协议更新及用户关注义务</p>
		<p>根据国家法律法规变化及网站运营需要，专宝贝公司有权对本协议条款不时地进行修改，修改后的协议一旦被张贴在本平台上即生效，并代替原来的协议。用户可随时登录查阅最新协议；用户有义务不时关注并
			阅读最新版的协议及网站公告。如用户不同意更新后的协议，可以且应立即停止接受专宝贝公司网站依据本协议提供的服务；如用户继续使用本平台提供的服务的，即视为同意更新后的协议。专宝贝公司建
			议您在使用本平台之前阅读本协议及本平台的公告。如果本协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p> 
		<p>第10条 法律管辖和适用</p> 
		<p>本协议的订立、执行和解释及争议的解决均应适用在中华人民共和国大陆地区适用之有效法律（但不包括其冲突法规则）。如发生本协议与适用之法律相抵触时，则这些条款将完全按法律规定重新解释，
			而其它有效条款继续有效。如缔约方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向专宝贝（上海）网络科技有限公司所在地法院提起诉讼。</p> 
		<p>第11条 其他</p> 
		<p>　　11.1 您点击本协议上方的“同意以下协议，提交”按钮即视为您完全接受本协议，在点击之前请您再次确认已知悉并完全理解本协议的全部内容。</p> 
		<p>　　11.2 用户在使用本平台具体服务时如另行签订协议的，本协议与另签协议相互补充。如条款产生冲突的，以另签协议约定为准。</p>
	</div>
	<div id="footer"></div>
	</body>

</html>
<style type="text/css">
	p {
		text-indent: 2em;
		font-size: 13px;
		color: #8C8C8C;
		line-height: 25px;
	}
	h4{
		line-height: 35px;	
	}
	h3 {
		text-align: center;
		margin: 60px 0 20px 0 !important;
		
	}
</style>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script>
    $('#header').load('common/header.html');
    $("#footer").load('common/footer.html');
</script>