<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../plugin/cityPicker/css/city-picker.css" />
    <link rel="stylesheet" type="text/css" href="../plugin/pagination/pagination.css">
    <link rel="stylesheet" href="../plugin/cityPicker/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/zhuanLiList.css" />
    <link rel="shortcut icon" href="../img/fabaobei_favicon.ico" mce_href="../img/fabaobei_favicon.ico" type="image/x-icon" />
    <title>专利列表</title>
</head>
<body id="zhuanLiList">
<div id="header"></div>
    <div class="mainWrap">
        <div class="path">
            <a href="propery.html?page=agents">找代理人</a><i>&gt;</i>
            <a href="agentsList.html">代理人列表</a><i>&gt;</i>
            <a href="agentsDetail.html?per=">代理人信息</a><i>&gt;</i>
            <a class="active">专利列表</a>
        </div>
        <div class="content">
            <ul class="node2List">
            </ul>
        </div>
        <div class="pagerWrap m-style "></div>
    </div>

<div id="footer"></div>
</body>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<script>
    $('#header').load('common/header.html',function () {
        $('.top_nav .navbar-nav li').removeClass('active').eq(2).addClass('active');
    });
    $("#footer").load('common/footer.html');
</script>
<script type="text/javascript" src="../plugin/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="../plugin/cityPicker/js/city-picker.data.js"></script>
<script src="../plugin/cityPicker/js/city-picker.js"></script>
<script src="../plugin/pagination/jquery.pagination.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/zhuanLiList.js"></script>
</html>